*.class
gossip-server/target/*
gossip/target/*
target/*
# Package Files #
*.jar
*.war
*.ear
*.properties
*.project
gossip/.project/
gossip-server/.project/
.settings/
gossip/.settings/
gossip-server/.settings/
.classpath
gossip/.classpath
gossip-server/.classpath
gossip-server/src/main/webapp/WEB-INF/lib/
gossip-server/src/main/webapp/WEB-INF/classes/
