<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gossip.mapper.WordMapper">


	<insert id="insertWord" parameterType="gossip.model.Word">
		insert into words(`name`, `count`, `idf`) values(#{name}, #{count}, #{idf})
	</insert>
	
	<select id="getWordByValue" parameterType="String" resultType="gossip.model.Word">
		select * from words where name = #{name}
	</select>
	
	

</mapper>