*.class
gossip-server/target/*
gossip/target/*
target/*
# Package Files #
*.jar
*.war
*.ear
*.project
gossip/.project/
gossip-server/.project/
.settings/
gossip/.settings/
gossip-server/.settings/
.classpath
gossip/.classpath
gossip-server/.classpath
/bin
