IndexPath=/store/project/gossip/index
LeftFrontier=0.5
RightFrontier=0.99
SimInfoPath=/store/project/gossip/sim-info/
SimBackupPath=/store/project/gossip/sim-info-bak/
BackupPath=/store/project/gossip/news-backup/
NewsPath=/store/project/gossip/news/
driver=com.mysql.jdbc.Driver
dbUrl=jdbc:mysql://localhost:3306/gossip
dbIp=127.0.0.1
dbPort=3306
dbUser=root
dbPassword=123iop