<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gossip.mapper.SimilarityCacheMapper">

	<insert id="insert" parameterType="SimilarityCache">
		insert into similarityCache(first, second, pair, similarity, cacheType)
		values(
			#{first}, #{second}, #{pair}, #{similarity}, #{cacheType}
		)
	</insert>
	<insert id="batchInsert" parameterType="List">
		insert into similarityCache(first, second, pair, similarity, cacheType)
		values		
		<foreach collection="similarityCacheList" item="similarityCache" separator=",">
		(
			#{similarityCache.first}, #{similarityCache.second}, #{similarityCache.pair}, #{similarityCache.similarity}, #{similarityCache.cacheType}
		)
		</foreach>
	</insert>
	
	<select id="getSimilarityCacheById" resultType="SimilarityCache" parameterType="int">
		select * from similarityCache where id = #{id} 
	</select>
	
	<select id="getSimilarityCacheByPairAndType" resultType="SimilarityCache">
		select * from similarityCache where pair = #{pair} and cacheType = #{cacheType} 
	</select>
	<select id="getSimilarityCacheByFSAndType" resultType="SimilarityCache">
		select * from similarityCache where first = #{first} and second = #{second} and cacheType = #{cacheType} 
	</select>

	<delete id = "deletebyPartIdAndCacheType">
		delete from similarityCache where pair like "%"#{partId}"%" and cacheType = #{cacheType}
	</delete>
	
	<select id = "getSimilarityCacheByPartIdAndType" resultType = "SimilarityCache">
		select * from similarityCache where pair like "%"#{partId}"%" and cacheType = #{cacheType}
	</select>
	<select id = "getSimilarityCacheByFirstAndType" resultType = "SimilarityCache">
		select * from similarityCache where first = #{first} and cacheType = #{cacheType}
	</select>
</mapper>